:root {
  --base: #ffc600;
  --spacing: 1rem;
  --blur: 0;
  --radius: 0;
  --brightness: 20%;
  --contrast: 20%;
  --saturate: 2;
  --grayscale: 20%;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  border-radius: var(--radius);
  max-width: 100%;
  height: auto;
}

body {
  text-align: center;
  /* background: #193549; */
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.controls {
  position: fixed;
  right: 0;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 14rem;
}

input {
  width:100px;
}

.container {
  display: flex;
}

label {
  display: block;
}

ul {
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 1rem;
}

ul > li {
  list-style: none;
}

.graphic {
  margin-left: 5.5rem;
  margin-top: 4rem;
}